extends layout

block content
  body
    h1 WaffleThread - 
      span(id="currentThread") Join a thread
    h2 #{username}
    ul(id="messages")
    form(id="messageForm" action="")
      input(id="messageInput" autocomplete="off")
      button Send
    button(id="createThread") Create a thread
    ul(id="threads")
    a(href='/logout') Logout
