extends layout

block content
    div(id="mainContainer")
        div(id="headerContainer")
            h1 WaffleThread
            h2 #{username}
            button(id="createThread") Create a thread
            a(href='/logout') Logout
        div(id="threadsContainer")
            h2 List of threads         
            ul(id="threads")
    div(id="chatContainer")
