extends layout

block content
  body
    h1 WaffleThread - 
      span(id="currentThread")
    h2 #{username}
    ul(id="messages")
    form(id="messageForm" action="")
      input(id="messageInput" autocomplete="off")
      button Send
    button(id="createThread") Create a thread
    ul(id="threads")
    form(action='/loginform', method='POST')
      input(type='text', name='username', placeholder='Email',required, autofocus)
      input(type='password', name='password', placeholder='Password', required)
      button(type='submit') Login
    form(action='/signupform', method='POST')
      input(type='text', name='username', placeholder='Email',required, autofocus)
      input(type='password', name='password', placeholder='Password', required)
      button(type='submit') Sign up
    a(href='/logout') Logout
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="js/index.js")
    