extends layout

block content
    div(id="mainContainer")
        div(id="headerContainer")
            h1 WaffleThread
            h2 Logged in as !{username}
            ul(id="headerFunctions")
                li(id="createThread") Create a thread
                li(id="closeAllThreads") Close all threads
                li(id="collapseAllThreads") Collapse all threads
                li(id="uncollapseAllThreads") Uncollapse all threads
                a(href='/logout')
                    li Logout
        div(id="threadsContainer")
            h1 List of threads         
            ul(id="threads")
    div(id="chatContainer")
