extends layout

block content
  body
    h1 WaffleThread
    ul(id="messages")
    form(id="messageForm" action="")
      input(id="messageInput" autocomplete="off")
      button Send
    button(id="joinThread") Join a thread
    div(id="threads")
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="js/index.js")
