doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=0.5")
    title WaffleThread
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/socket.io/socket.io.js")   
    script(src="/bower_components/sweetalert/dist/sweetalert.min.js")
    script(src="/bower_components/linkifyjs/linkify.min.js")
    script(src="/bower_components/linkifyjs/linkify-jquery.min.js")
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/sweetalert/dist/sweetalert.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="js/jquery-methods.js")
    script(src="js/index.js")