extends layout

block content
  body
    div(class="genericHeaderContainer")
        h1 WaffleThread
    div(class="genericContainer loginContainer")
        form(action='/loginform', method='POST')
            input(type='text', name='username', placeholder='Jméno',required, autofocus)
            input(type='password', name='password', placeholder='Heslo', required)
            button(type='submit') Přihlásit se
        form(action='/signupform', method='POST')
            input(type='text', name='username', placeholder='Jméno',required)
            input(type='password', name='password', placeholder='Heslo', required)
            button(type='submit') Registrovat se         
    script.
        if ('#{alertMessage}') {
            swal({
                type:'error',
                title: '',
                text:'#{alertMessage}',
                allowOutsideClick:true
            });
        }
        